SELECT
    T.*,           -- TRAFFICテーブルの全ての列
    U.username,    -- USERSテーブルのusername列
    U.email        -- USERSテーブルのemail列
FROM
    TRAFFIC AS T   -- TRAFFICテーブルに 'T' という別名を付ける
INNER JOIN
    USERS AS U     -- USERSテーブルに 'U' という別名を付けて内部結合
ON
    T.user_id = U.id  -- TRAFFICテーブルのuser_id列とUSERSテーブルのid列が一致するレコードを結合
WHERE
    T.USERDAY LIKE #{date};
	
		<li><a href="/">ホーム</a></li>
		<li sec:authorize="isAuthenticated()">
		<span sec:authentication="name"></span> さん、ようこそ！
		   </li>
		   
sec:authentication="principal.プロパティ名" を使用します。principal は認証されたユーザーのUserDetailsオブジェクト（あなたの場合はLoginUserDetailsインスタンス）を指します。

LoginUserDetailsクラスには@Getterアノテーションが付与されているため、nameフィールドのゲッターであるgetName()メソッドが自動生成されています。

したがって、Thymeleafでprincipal.nameと記述すると、LoginUserDetailsインスタンスのgetName()メソッドが呼び出され、社員名が取得されます。

<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.name"> さん</span>
</div>

<div sec:authorize="isAuthenticated()">
    <span class="badge bg-secondary text-white" style="font-size: 0.9em;">
        <span sec:authentication="principal.name"></span>さん
    </span>
</div>


<div class="pt-2 text-white me-auto" sec:authorize="isAuthenticated()">
	<strong sec:authentication="principal.name"></strong>さん
</div>